 <!--get tickets section -->
    <section class="bg-img pt100 pb100" style="background-image: url('/img/bg/tickets.png');">
        <div class="container">
            
            
            
        </div>
    </section>
    <!--get tickets section end-->


 <!--footer start -->
 <footer>
     <div class="container">
         <div class="row justify-content-center">

             <div class="col-md-4 col-12">
                 <div class="footer_box">
                     <div class="footer_header">
                         <div class="footer_logo">
                             <img src="/img/logo.png" alt="revent">
                         </div>
                     </div>
                     <div class="footer_box_body">
                         <p>
                             Revent is a simple yet effective and inovative approach to event managment.
                             Create your account now and choose the plan that suits you best, be it the free to use viewer or the allmighty moderator the choice is yours!
                         </p>
                         <ul class="footer_social">

                             <li>
                                 <a href="#"><i class="ion-social-facebook"></i></a>
                             </li>
                             <li>
                                 <a href="#"><i class="ion-social-twitter"></i></a>
                             </li>

                             <li>
                                 <a href="#"><i class="ion-social-instagram"></i></a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>

             <div class="col-12 col-md-4">
                 <div class="footer_box">
                     <div class="footer_header">
                         <h4 class="footer_title">
                             instagram
                         </h4>
                     </div>
                     <div class="footer_box_body">
                         <ul class="instagram_list">
                             <li>
                                 <a href="#">
                                     <img src="/img/cleander/c1.png" alt="instagram">
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     <img src="/img/cleander/c2.png" alt="instagram">
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     <img src="/img/cleander/c3.png" alt="instagram">
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     <img src="/img/cleander/c3.png" alt="instagram">
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     <img src="/img/cleander/c2.png" alt="instagram">
                                 </a>
                             </li>
                             <li>
                                 <a href="#">
                                     <img src="/img/cleander/c1.png" alt="instagram">
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>

             <div class="col-12 col-md-4">

                 <div class="footer_box">
                     <div class="footer_header">
                         <div class="footer_logo">
                             <img src="/img/ensias.png" alt="ensias" style="padding-left: 50px;">
                         </div>
                     </div>
                     <div class="footer_box_body">
                         <p>
                             L’École nationale supérieure d’informatique et d’analyse des systèmes (ENSIAS Rabat) est l’une des grandes écoles d’ingénieurs marocaines rattachée à l’université Mohammed V – Souissi de Rabat.
                         </p>
                         <a href="https://www.ensias.ma"><i class="ion-planet"></i></a>
                     </div>
                 </div></div>
         </div>
     </div>
 </footer>
 <div class="copyright_footer">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-md-6 col-12">
                 <p>
                     Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved
                 </p>
             </div>
             <div class="col-12 col-md-6 ">
                 <ul class="footer_menu">
                     <li>
                         <a href="/">Home</a>
                     </li>
                     <li>
                         <a href="/contact">Contact</a>
                     </li>



                 </ul>
             </div>
         </div>
     </div>
 </div>


 <!--footer end -->

    <!-- jquery -->
    <script src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <!--slick carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!--parallax -->
    <script src="/js/parallax.min.js"></script>
    <!--Counter up -->
    <script src="/js/jquery.counterup.min.js"></script>
    <!--Counter down -->
    <script src="/js/jquery.countdown.min.js"></script>
    <!-- WOW JS -->
    <script src="/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="/js/main.js"></script>

</body></html>